@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
.images__brand {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 100px 200px;
}
.images__brand figure img {
  filter: grayscale(100%);
  height: 100px;
}

@font-face {
  font-family: "fa-light";
  font-weight: 300;
  src: url("../assets/font/fa-light-300.woff2") format("woff2");
}
@font-face {
  font-family: "fa-brands";
  font-weight: 400;
  src: url("../assets/font/fa-brands-400.woff2") format("woff2");
}
@font-face {
  font-family: "fa-regular";
  font-weight: 400;
  src: url("../assets/font/fa-regular-400.woff2") format("woff2");
}
@font-face {
  font-family: "fa-solid";
  font-weight: 900;
  src: url("../assets/font/fa-solid-900.woff2") format("woff2");
}
footer {
  background-image: url("../assets/img/footer/img-ng-footer.jpg");
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  padding: 82px 150px;
}
footer h3 {
  font-family: "Forum", cursive;
  font-size: 40px;
  font-weight: 500;
}
footer .footer__logo {
  text-align: center;
}
footer .footer__container-links {
  display: grid;
}
@media only screen and (max-width: 410px) {
  footer .footer__container-links {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 411px) and (max-width: 767px) {
  footer .footer__container-links {
    grid-template-columns: repeat(2, 1fr);
    padding: 60px;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer__container-links {
    grid-template-columns: repeat(5, 1fr);
    padding: 60px;
  }
}
footer .footer__container-links p {
  color: #979999;
}
footer .footer__container-links p a {
  text-decoration: none;
  color: #979999;
}
@media only screen and (min-width: 768px) {
  footer .footer__container-links .newsletters {
    grid-column: 3/5;
    padding-right: 50px;
  }
}
footer .footer__container-links .newsletters input {
  width: 400px;
  height: 50px;
}
footer .footer__container-links .newsletters input::placeholder {
  font-size: 20px;
  padding-left: 30px;
}
footer .footer__container-links .newsletters button {
  width: 57px;
  height: 57px;
  margin-left: -7px;
  background-color: #c8a96a;
}
footer .footer__container-links .newsletters button i {
  color: white;
  font-size: 14px;
}
footer .footer__container-links .contact p i {
  padding-right: 10px;
  color: #c8a96a;
}
footer .footer__line {
  text-align: center;
}
@media only screen and (max-width: 410px) {
  footer .footer__line .img-spoon {
    display: none;
  }
}
@media only screen and (min-width: 411px) and (max-width: 767px) {
  footer .footer__line .img-spoon {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer__line .img-spoon {
    width: 100px;
    position: absolute;
    transform: translateY(-40px);
  }
}
footer .footer__line hr {
  border-color: #222627;
}
footer .footer__down {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 20px;
  color: #979999;
}
footer .footer__down .copyright {
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: left;
  padding-top: 10px;
}
footer .footer__down .copyright p {
  margin: 0;
}
footer .footer__down .copyright span {
  color: #c8a96a;
}
footer .footer__down .reseau {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: right;
}
footer .footer__down .reseau a i {
  width: 50px;
  height: 50px;
  color: #222627;
}
footer .footer__down .reseau a i:hover {
  color: #c8a96a;
}

.news {
  font-family: "Open Sans", sans-serif;
  padding: 100px;
}

.news_title {
  padding: 90px 50px;
}
.news_title h2 {
  font-family: "Forum", cursive;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
.news_title h3 {
  text-align: center;
  font-weight: 300;
  line-height: 3;
}

.news_article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px;
}
.news_article article {
  width: 410px;
  height: 280px;
}
.news_article article figcaption {
  background-color: antiquewhite;
}
.news_article article img {
  width: 410px;
  height: 280px;
}
.news_article article i {
  color: #c8a96a;
}
.news_article article p {
  font-family: "Forum", cursive;
  font-size: 20px;
}
.news_article article button {
  width: 150px;
  height: 50px;
  background-color: white;
  font-weight: 900;
}
.news_article article button i {
  color: black;
}

header {
  background-image: url("../assets/img/slider/img_bg_slider_home01.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar .logo {
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li {
  list-style: none;
  margin-right: 50px;
}
.navbar ul li a {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.navbar ul li a:hover {
  color: rgb(193, 159, 96);
}
.navbar .contact {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}
.navbar .contact .numberphone {
  display: flex;
  align-items: center;
  color: white;
}
.navbar .contact .contact-btn {
  display: flex;
  align-items: center;
  background-color: #c19f60;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
}
ul li {
  list-style: none;
  margin-right: 50px;
}
ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
ul li a:hover {
  color: rgb(193, 159, 96);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  padding: 20px;
  position: relative;
  margin-left: 130px;
}
.header img {
  position: absolute;
  top: 0px;
  left: 350px;
}
.header h1 {
  font-size: 100px;
  color: white;
  margin-bottom: 50px;
}
.header button {
  background: transparent;
  color: white;
  border-radius: 5px;
  padding: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}
.header button:hover {
  background-color: rgb(193, 159, 96);
}

.chefs {
  font-family: "Open Sans", sans-serif;
  background-image: url("../assets/img/our-chefs/imgbg-ourchefs.jpg");
}
.chefs .chefs__photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10;
  margin: 5px;
  padding-bottom: 200px;
}

.chefs__title {
  color: white;
  padding-top: 100px;
}
.chefs__title h2 {
  font-family: "Forum", cursive;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin-bottom: -15px;
}
.chefs__title h3 {
  text-align: center;
  font-weight: 300;
  line-height: 3;
  padding-bottom: 50px;
}

.gallery .gallery__title h2 {
  font-family: "Forum", cursive;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin-bottom: -15px;
}
.gallery .gallery__title h3 {
  text-align: center;
  font-weight: 300;
  line-height: 3;
}
.gallery .gallery__container-grid {
  padding: 100px;
  display: grid;
  grid-template-columns: 4, 1fr;
  grid-template-rows: 2, 1fr;
}
.gallery .gallery__container-grid .card-large1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.gallery .gallery__container-grid .card1 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.gallery .gallery__container-grid .card2 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.gallery .gallery__container-grid .card3 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.gallery .gallery__container-grid .card4 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.gallery .gallery__container-grid .card-large2 {
  grid-column: 3/5;
  grid-row: 2/3;
}

.price .price__container-grid {
  display: grid;
  grid-template-columns: repeat 4, 1fr;
  grid-template-rows: repeat 2, 1fr;
}
.price .price__container-grid .meal .meal__info h3 {
  font-family: "Forum", cursive;
}
.price .price__container-grid .meal .meal__info h4 {
  font-family: "Open Sans", sans-serif;
}

.price__title h2 {
  font-family: "Forum", cursive;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
.price__title h3 {
  text-align: center;
  font-weight: 300;
  line-height: 3;
}

/*# sourceMappingURL=style.css.map */
