@use '../base/fonts';

.news {

    .news_article {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    figcaption {
        i {
            color: #c8a96a;
            
        }
    }
}