@use '../base/fonts';
$footer-font-color: #979999;

footer {
    background-image: url('../assets/img/footer/img-ng-footer.jpg');
    color: white;
    font-family: fonts.$font-open-sans;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    padding: 82px 10px;
    .container-links{
        display: flex;
        flex-direction: row;
        .links-facilities{
            width: min-content;
        }
    }

    h3 {
        font-family: fonts.$font-forum-cursive;
        font-size: 25px;
        font-weight: 500;
    }
    

    .footer__logo {
        text-align: center;
    }


    .footer__container-links {
        display: grid;

        @media only screen and (max-width: 375px) {

            grid-template-columns: repeat(1, 1fr);
        }

        @media only screen and (max-width: 650px) {

            grid-template-columns: repeat(2, 1fr);
            padding: 60px;
        }

        @media only screen and (max-width: 900px) {

            grid-template-columns: repeat(5, 1fr);
            padding: 60px;
        }

        p {
            color: $footer-font-color;
            font-size: 15px;

            a {
                text-decoration: none;
                font-size: 15px;
                color: $footer-font-color;
            }

        }

        .newsletters {

            @media only screen and (min-width: 768px) {
                grid-column: 3 / 5;
                padding-right: 50px;
            }

            input {
                width: 300px;
                height: 50px;

                &::placeholder {
                    font-size: 20px;
                    padding-left: 30px;
                }
            }

            button {
                width: 57px;
                height: 57px;
                margin-left: -7px;
                background-color: #c8a96a;

                i {
                    color: white;
                    font-size: 14px;
                }
            }
        }

        .contact {
            p {
                i {
                    padding-right: 10px;
                    color: #c8a96a;
                }


            }
        }
    }

    .footer__line {
        text-align: center;

        .img-spoon {
            @media only screen and (max-width: 410px) {
                display: none;
            }

            @media only screen and (min-width: 411px) and (max-width: 767px) {
                display: none;
            }

            @media only screen and (min-width: 768px) {

                width: 100px;
                position: absolute;
                transform: translateY(-40px);
            }
        }

        hr {
            border-color: #222627;
        }
    }

    .footer__down {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 20px;
        color: #979999;

        .copyright {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            text-align: left;
            padding-top: 10px;

            p {
                margin: 0;
            }

            span {
                color: #c8a96a;
            }

        }

        .reseau {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            text-align: right;

            a {
                i {
                    width: 50px;
                    height: 50px;
                    color: #222627;

                    &:hover {
                        color: #c8a96a;
                    }
                }

            }
        }

    }


}