@use '../base/fonts';

$footer-font-color: #979999;


footer {
    background-image: url('../assets/img/footer/img-ng-footer.jpg');
    color: white;
    font-family: fonts.$font-light-serif;
    font-size: 22px;
    line-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
    ;

    h3 {
        font-family: fonts.$font-solid-serif;
        font-size: 32px;
        font-weight: 900;
    }

    .footer__logo {
        text-align: center;
        padding: 50px;
    }


    .footer__container-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);


        p {
            color: $footer-font-color;

            a {
                text-decoration: none;
                color: $footer-font-color;
            }

        }

        .contact {
            p {
                i {
                    width: 50px;
                    height: 50px;
                    color: #c8a96a;
                }
            }
        }
    }

    .footer__down {
        display: grid;
        grid-template-columns: 2 (repeat, 1fr);
        font-size: 20px;

        hr {
            border-color: #222627;
            border-width: 1px;
            border-style: solid;
            width: 75%;
        }

        .copyright {
            span {
                color: #c8a96a;
            }
        }

        .reseau {
            a {
                i {
                    width: 50px;
                    height: 50px;
                    color: #222627;
                }

                i:hover {
                    color: #c8a96a;
                }
            }
        }
    }
}