.price {
    background-color: antiquewhite;
    .price__container-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (4, 1fr);
        padding: 5% 20% 10% 20%;
        column-gap: 5%;
        row-gap: 5%;
        .meal {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 380px;
            height: 70px;
            background-color: white;
            border-radius: 5px;
            &:hover{
                border: dotted #c8a96a 3px;
            }
            .meal__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 9%;
                h3 {
                    color: black;
                    font-size: 15px;
                    font-family: 'Forum', cursive;
                    ;
                }

                h4 {
                    font-size: 12px;
                    color: gray;
                    font-family: 'Open Sans', sans-serif;
                }
            }
            .meal__price{
                display: flex;
                justify-content: center;
                padding-right: 5%;
                align-items: center;
                text-align: center;
                span{
                    font-size: 30px;
                    color: #c8a96a;
                }
            }
        }
    }
}

.price__title {
    h2 {
        padding-top: 5%;
        font-family: 'Forum', cursive;
        font-size: 35px;
        font-weight: 300;
        text-align: center;
    }

    h3 {
        text-align: center;
        font-weight: 300;
        line-height: 3;
    }
}