*{
    border: red solid 1px;
}
header{
    background-image: url("../assets/img/slider/img_bg_slider_home01.jpg");
    background-repeat: no-repeat;
    /* background-position: right; */
   /*  width: 100vw;
    height: 100vh; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    .logo{
        display: flex;
        justify-content: space-between;
    }
    ul{
        display: flex;
        flex-direction: row;
        margin-left: 1%;
        align-items: center;
        justify-content: space-between;
        li{
            list-style: none;
            margin-right: 50px;
            a{
                display: flex;
                text-decoration: none;
                color: white;
                font-size: 15px;
                &:hover{
                    color: rgb(193, 159, 96);
                }
            }
        }
    }
    .contact{
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
        .numberphone{
            display: flex;
            align-items: center;
            color: white;
            margin-right: 30px;
            font-size: 15px;
        }
        .reserve{
            display: flex;
            align-items: center;
        }
    }
    .menu{
        display: none;
    }

}
.reserve{
    .contact-btn{
        background-color: #c19f60;
        color: white;
        width: 200px;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 5px;
        font-size: 10px;
    }
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    padding: 20px;
    position: relative;
    margin-left: 130px;
    img{
        position: absolute;
        top: 0px;
        left: 350px;
    }
    h1{
        font-size: 100px;
        color: white;
        margin-bottom: 50px;
    }
    button{
        background:transparent;
        color: white;
        border-radius: 5px;
        padding: 15px;
        padding-left: 10px;
        padding-right: 10px;
        width: 50%;
        &:hover{
            background-color: rgb(193, 159, 96);
        }
    }
}
@media screen and (max-width: 1035px){
    header{
        background-position: center;
    }
    .navbar{
        li{
            display: none;
        }
        .contact{
            display: none;
        }
    }
}

